<h2>Welcome to Journalist Index.vtl</h2>

<a href="/journalists/new">New Journalist</a>

<table>
    <tr>
        <th>Journalist Name</th>
        <th>Biography</th>

    </tr>

    <tr>
   <td>$ham.getJournalistName()</td>
   <td>  $ham.getBiography()</td>
</table>