body {

    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: #efdfd5 url("/images/face.png") no-repeat top ;
    background-size: auto;

    font-family: 'Helvetica', 'Arial', sans-serif;
}

tbody {
    color: #644E5B;
}

.Menu_grid {
    display: grid;
    font-size: 20px;
    grid-auto-flow: column;
    grid-template-columns: 75% 24%;
    grid-template-rows: 100%;
    grid-gap: 1%;
    color: #314455;
}

.Navlogo{
    max-height: 100px;
}

.Navlogo2{
    max-height: 100px;
}

.Navtitle{
    max-height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(201,101,103,1);
    background: -moz-linear-gradient(left, rgba(201,101,103,1) 0%, rgba(201,101,103,1) 66%, rgba(201,101,103,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,101,103,1)), color-stop(66%, rgba(201,101,103,1)), color-stop(100%, rgba(201,101,103,0)));
    background: -webkit-linear-gradient(left, rgba(201,101,103,1) 0%, rgba(201,101,103,1) 66%, rgba(201,101,103,0) 100%);
    background: -o-linear-gradient(left, rgba(201,101,103,1) 0%, rgba(201,101,103,1) 66%, rgba(201,101,103,0) 100%);
    background: -ms-linear-gradient(left, rgba(201,101,103,1) 0%, rgba(201,101,103,1) 66%, rgba(201,101,103,0) 100%);
    background: linear-gradient(to right, rgba(201,101,103,1) 0%, rgba(201,101,103,1) 66%, rgba(201,101,103,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96567', endColorstr='#c96567', GradientType=1 );
}


li {
    float: left;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.Search{
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    background-color: #d09b78;
    border: 0px solid rgb(10,10,10);
    text-align: center;
}


.MainNews {
    grid-auto-columns: auto;
    border: 0px solid rgb(10, 10, 10);
}



.SideBar {
    grid-column: auto;
    grid-row: auto;
    border: 0px solid rgb(10, 10, 10);
    text-align: center;
    background-color: #c96567;
}

h1 {
    color: #314455;
}


h2 {
    color: #9E5A63;
}

h3 {
    color: #644E5B;
}
h4 {
    color: #314455;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}