<p class="pageHeader">Edit Category</p>

<form action="/categories/$category.getId()" method="post">
    <label for="title">Edit Category</label>
    <input class="inputbox" type="text" name="categoryName" required="true" value="$category.getCategoryName()">

    <input type="submit" value="Save" class="button">
</form>