<h2>Welcome to Category Index.vtl</h2>

<a href="/categories/new">New Category</a>


<p class="pageHeader">Categories</p>
<div class="container">
    <table>
        <tr>
            <th>Categories: </th>
        </tr>
        #foreach($category in $categories)
        <tr>
            <td>$category.getCategoryName()</td>
            <td><a href="/categories/edit/$category.getId()">Edit</a></td>
        <tr>
            #end
    </table>
</div>