<a href="/categories">Back To Categories</a>

<div class="container">
    <table>
        <tr>
            <th>Categories: </th>
        </tr>
            #foreach($article in $categoryArticles)
        <tr>
            <td><a>$article.getTitle()</a></td>
            <td><a>$article.getHeadline()</a></td>
            <td><a>$article.getContent()</a></td>
        <tr>
            #end
    </table>
</div>