<h1>$categoryCategory</h1>
    #foreach($article in $categoryArticles)
<fieldset>
    <h2><a href="/articles/$article.getId()">$article.getTitle()</a></h2>
    <h3>$article.getHeadline()</h3>
    <h4>$article.getContent()</h4>
</fieldset>
    <br>
    #end