<p class="pageHeader">Edit Location</p>

<form action="/locations/$location.getId()" method="post">
    <label for="title">Location Name:</label>
    <input class="inputbox" type="text" name="locationName" required="true" value="$location.getLocationName()">

    <input type="submit" value="Save Location" class="button">
</form>