<a href="/categories">Back To Locations</a>

<div class="container">
    <h3>Location: $locationLocation</h3>
    <table>
        <tr>
            <th>Locations: </th>
        </tr>
            #foreach($location in $locationArticles)
        <tr>
            <td><a>$location.getTitle()</a></td>
            <td><a>$location.getHeadline()</a></td>
            <td><a>$location.getContent()</a></td>
        <tr>
            #end
    </table>
</div>