<h1>$locationLocation</h1>
#foreach($location in $locationArticles)
<fieldset>
    <h2><a href="/articles/$article.getId()">$location.getTitle()</a></h2>
    <h3>$location.getHeadline()</h3>
    <h4>$location.getContent()</h4>
</fieldset>
<br>
#end