<!DOCTYPE html>
<html>
<head>
    <title>Monkey News</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/speak-no-evil-monkey20.png" />

    <nav class="Menu_grid">

        <div class="Navbar"NAVBAR>
            <h1>News</h1>
            <ul>
                <li class="dropdown">
                    <a href="/journalists" class="dropbtn">Journalists</a>
                    <div class="dropdown-content">
                        #foreach( $journalist in $journalists)
                        <a href="/journalists/$journalist.getId()">$journalist.getJournalistName()</a>
                        #end
                    </div>
                </li>

                <li class="dropdown">
                    <a href="/categories" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                        #foreach( $category in $categories)
                        <a href="/categories/$category.getId()">$category.getCategoryName()</a>
                        #end
                    </div>
                </li>

                <li class="dropdown">
                    <a href="/locations" class="dropbtn">Location</a>
                    <div class="dropdown-content">
                        #foreach( $location in $locations)
                        <a href="/locations/$location.getId()">$location.getLocationName()</a>
                        #end
                    </div>
                </li>
                <li><a href="/articles">Articles</a></li>
            </ul>
        </div>

        <div class="Search"SEARCH>
            <h1>Top Stories</h1>
        </div>

    </nav>
</head>



<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>


</html>