<!DOCTYPE html>
<html>
<head>
<body>
<div class="Menu_grid">

    <div class="Navbar"NAVBAR>
        <h1>NAVIGATION BAR HERE</h1>
        <a href="/">Home</a>
        <a href="/journalists">Journalists</a>
        <a href="/categories">Categories</a>
        <a href="/articles">Articles</a>
        <a href="/locations">Location</a>
    </div>
    <div class="Logo"LOGO>
        <h1>LOGO GOES HERE</h1>
    </div>

</div>
    <title>Monkey News</title>
    <link rel="icon" href="/images/speak-no-evil-monkey2.png" />
    <link href="/style.css" rel="stylesheet" type="text/css" />

</head>
<table>
    <tr>
        <th>New</th>
        <th>New</th>
        <th>New </th>
    </tr>
    <tr>
        <td><a href="/locations/new" class="button center">Location</a></td>
        <td><a href="/categories/new" class="button center">Category</a></td>
        <td><a href="/journalists/new" class="button center">Journalist</a></td>
    </tr>
</table>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>