<!DOCTYPE html>
<html>
    <title>Monkey News</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/speak-no-evil-monkey20.png" />

    <nav class="Menu_grid">

        <div class="Navbar"NAVBAR>
                <a href="/"><img src="/images/maxresdefault.png" alt="bag" class="Navlogo"><a href="/"><img src="/images/news.png" alt="bag" class="Navtitle">
            <ul>
                <li class="dropdown">
                    <a href="/journalists" class="dropbtn">Journalists</a>
                    <div class="dropdown-content">
                        #foreach( $journalist in $journalists)
                        <a href="/journalists/$journalist.getId()">$journalist.getJournalistName()</a>
                        #end
                    </div>
                </li>

                <li class="dropdown">
                    <a href="/categories" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                        #foreach( $category in $categories)
                        <a href="/categories/$category.getId()">$category.getCategoryName()</a>
                        #end
                    </div>
                </li>

                <li class="dropdown">
                    <a href="/locations" class="dropbtn">Location</a>
                    <div class="dropdown-content">
                        #foreach( $location in $locations)
                        <a href="/locations/$location.getId()">$location.getLocationName()</a>
                        #end
                    </div>
                </li>
                <li><a href="/articles">Articles</a></li>
            </ul>
        </div>

        <div class="Search"SEARCH>
            <a href="https://twitter.com/monkeynewswow?lang=en"><img height="50" width="50" src="/images/twitterlogo.png" alt="bag" class="twitterlogo"></a>
            <a href="https://www.instagram.com/explore/tags/monkey/?hl=en"><img height="50" width="50" src="/images/instagramlogo.png" alt="bag" class="instagramlogo"></a>
            <a href="https://www.facebook.com/monkeynewz/"><img height="50" width="50" src="/images/facebooklogo.png" alt="bag" class="facebooklogo"></a>

            <h1>Search</h1>
        </div>
    </nav>



    <body>
    <!-- begin inner template-->
        <div class="container">
            #parse( $template )
        </div>
    <!-- end inner template-->
    </body>

</html>