<div class="container">
    <h1>Monkey News</h1>
        #foreach($article in $articles)
        <h3>$article.getTitle()</h3>
        <h4>$article.getHeadline()</h4>
        <h5>$article.getContent()</h5>
        <td><a href="/articles/$article.getId()" class="button center">Show</a>
    <br>
            #end
</div>