

<html>
    <div class="Menu_grid"Menu_grid>

        <div class="MainNews"MAINNEWS>
            <h1>TOP STORIES</h1>
            <br>
            #set($counter = 0)
            #foreach($article in $articles)
                <h1>$article.getTitle()</h1>
                <h2>$article.getHeadline()</h2>
                <h3>$articleTimeStamp[$counter]
            <div class="show-button">
                <form action="/articles/$article.getId()" method="get">
                    <input type="submit" value="Show Article">
                </form>
            </div></h3>
            <br>

            #set($counter = $counter + 1)
            #end
        </div>

        <div class="SideBar"SIDEBAR>
            <h1>Popular News</h1>
            #foreach($article in $articlesByViews)
            <br>
            <h4>$article.getHeadline()</h4>
            <h4>Views: $article.getCounter() by $article.getJournalist().getJournalistName()
            <div class="show-button">
                <form action="/articles/$article.getId()" method="get">
                    <input type="submit" value="Show Article">
                </form>
            </div></h4>
            #end
        </div>

    </div>
</html>
